* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 3px solid red; */
}

html {
	font-size: 62.5%;
}

html, body {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*<||========================= Custom CSS =========================||> */

body > article {
	width: 100%;
	height: 100dvh;
}

body > article > header,
body > article > main > * {
	padding-left: 12.5%;
	padding-right: 12.5%;
	font-size: 1.6rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
  flex-wrap: wrap;
	background-color: #1f2937;
}

header a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 1.8rem;
}

header > .logo img {
	min-width: 200px;
	min-height: 50px;
	height: 100%;
}

header > .nav-bar ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
  flex-wrap: wrap;
	gap: 25px;
}

main {
	display: flex;
	flex-direction: column;
}

main > * {
  display: flex;
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 300px;
}

main img {
	width: 50%;
	height: 80%;
	min-width: 200px;
	min-height: 150px;
	background-color: #e5e7eb;
  border: 3px solid #1f2937;
  border-radius: 10px;
} 

main > * > h2 {
	text-align: center;
	margin-bottom: 30px;
}

/* |=|=|=|=> Sections <=|=|=|=| */


/* Introduction */
.intro {
	justify-content: center;
	align-items: center;
	gap: 10%;
  flex-wrap: wrap;
  background-color: #1f2937;
  color: #e5e7eb;
}

.intro > .card {
  flex: 1;
  padding: 0;
}

.intro > .card > .actions > button { 
  flex: unset;
}

.intro > img {
  max-width: 800px;
  min-width: 300px;
  height: 300px;
}

/* Information */

.info {
  flex-direction: column;
}

/* Phrase */

.phrase {
	background-color: #e5e7eb;
}

/* Call to action */

.call-to-action {
  justify-content: center;
  align-items: center;
}

.call-to-action > .card {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #e5e7eb;
  background-color: #4882F6;
}

.call-to-action > .card > .content {
  width: 75%;
}

/* Footer */

article > footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
  font-size: 1.4rem;
	color: #e5e7eb;
	background-color: #1f2937;
}

/* |=|=|=|=> Components <=|=|=|=| */


blockquote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

blockquote > p {
  font-size: 3.6rem;
  font-weight: lighter;
  font-style: italic;
}

blockquote > footer {
  font-weight: bold;
  font-size: 2rem;
}

.image-showcase {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.image-showcase > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
  flex: 1;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
  padding: 40px 10%;
  border-radius: 10px;
}

.card > h2 {
  font-size: 4.8rem;
}

.card > .content {
  font-size: 1.8rem;
}

.card > .actions {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card > .actions button {
  flex: 1;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px 20px;
  border: 3px solid #4882F6;
  border-radius: 8px;
  color: #e5e7eb;
  background-color: #4882F6;
}

.card > .actions button.light {
  border-color: #e5e7eb;
}

